:root {
    --color-primary-dark: #011c44;
    --color-primary-light: #ffffff;
    --color-brand: #2b7fff;
    --color-secondary-field: #747272;
    --color-secondary-text: #4a4a4a;
    --color-secondary-background: #011f4a;
}